body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

.container {
    display: flex;
}


.sidebar {
    width: 220px;
    height: 100vh;
    background: #000;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar img {
    max-width: 70px;
}

.profile-section {
    text-align: center;
    padding: 20px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* object-fit: cover; */
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover,
.menu li a.active {
    background: #2f4a7a;
}

/* CONTENT */
.content {
    margin-left: 220px;
    padding: 30px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #2f4a7a;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
