.navbar {
    background-color: #0d1b2a;
    padding: 15px 0;
}

.navbar-brand {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #f1c40f;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #f1c40f;
}
