/* ===== BACKGROUND ===== */
.auth-body {
    margin: 0;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?auto=format&fit=crop&w=1600&q=80");
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    position: relative;
}

.auth-body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

/* ===== CARD ===== */
.auth-container {
    position: relative;
    z-index: 1;
    width: 480px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3c72;
}

/* ===== INPUTS ===== */
.auth-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.auth-container input:focus {
    outline: none;
    border-color: #1e3c72;
}

/* ===== ROLE ===== */
.role-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 20px 0;
    font-weight: 600;
}

/* ===== ALUMNI GRID ===== */
.alumni-grid {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 16px 20px;   /* row-gap column-gap */
    margin-bottom: 20px;
}


.grid-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/* ===== BUTTON ===== */
button {
    width: 100%;
    padding: 12px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #16325c;
}

.auth-container input[type="text"],
.auth-container input[type="password"],
.auth-container input[type="number"],
.auth-container input[type="file"] {
    height: 44px;
    box-sizing: border-box;
}
.auth-container input[type="file"] {
    padding: 6px;
    font-size: 13px;
}
