* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* DASHBOARD LAYOUT */
.dashboard {
    display: flex;
    min-height: 100vh;
}
.profile-section {
    text-align: center;
    padding: 20px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* object-fit: cover; */
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #1f2937;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #d1d5db;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 6px;
}

.sidebar ul li.active a,
.sidebar ul li a:hover {
    background: #2563eb;
    color: white;
}

/* MAIN CONTENT */
.content {
    margin-left: 240px;
    padding: 30px;
    width: calc(100% - 240px);
    background: #f9fafb;
}

.content h1 {
    margin-bottom: 25px;
}

/* EVENTS GRID */
.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
}

/* EVENT CARD */
.event-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.event-body {
    padding: 15px;
}

.event-body h3 {
    margin-bottom: 10px;
}

.event-body p {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.event-body span {
    font-size: 13px;
    color: #888;
}

.profile-box {
    text-align: center;
    margin-bottom: 20px;
}

.profile-box img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-box p {
    margin-top: 10px;
    font-weight: bold;
}