{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'view_jobs.css' %}">
</head>
<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="profile">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
            <h3>Alumni</h3>
        </div>

        <nav>
            <a href="{% url 'alumni_portal' %}">Dashboard</a>
            <a href="{% url 'view_jobs_alumni' %}" class="active">Jobs</a>
            <a href="{% url 'view_events_alumni' %}">Events</a>
            <a href="{% url 'alumni_announcements' %}">Announcements</a>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        </nav>
    </aside>
    {% comment %} <button class="menu-btn" onclick="toggleSidebar()">☰</button> {% endcomment %}

    <!-- MAIN CONTENT -->
    <main class="content">
        <h2>Job Opportunities</h2>

        <div class="job-container">
            {% for job in jobs %}
            <div class="job-card">
                <img src="{{ job.get_image_url }}" class="job-img">

                <h3>{{ job.title }}</h3>
                <p class="company">{{ job.company }}</p>
                <p class="description">{{ job.description }}</p>
                <p class="date">Posted on: {{ job.posted_on }}</p>
            </div>
            {% endfor %}
        </div>
    </main>

</div>
{% comment %} <script>
function toggleSidebar() {
    document.querySelector(".sidebar").classList.toggle("open");
}
</script> {% endcomment %}

</body>
</html>
