{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Events | Alumni Sync</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'view_events.css' %}">
</head>

<body>

<div class="container">

<!-- SIDEBAR -->
<aside class="sidebar" id="sidebar">

<div class="profile-box">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF5-3YjBcXTqKUlOAeUUtuOLKgQSma2wGG1g&s">
<p>Alumni</p>
</div>

{% comment %} <h2 class="logo">Alumni Sync</h2> {% endcomment %}
<a href="{% url 'alumni_dashboard' %}">Dashboard</a>

<!-- EVENTS MENU -->
<div class="menu-group">
<div class="menu-title" onclick="toggleMenu('events-menu')">
Events ▾
</div>

<div class="submenu" id="events-menu">
<a href="{% url 'create_event' %}">Events</a>
</div>
</div>

<!-- JOBS MENU -->
<div class="menu-group">
<div class="menu-title" onclick="toggleMenu('jobs-menu')">
Jobs ▾
</div>

<div class="submenu" id="jobs-menu">
<a href="{% url 'jobs_alumni' %}">Jobs</a>
</div>
</div>

<a href="{% url 'alumni_announcements' %}">Announcements</a>
<a href="{% url 'logout' %}">Logout</a>

</aside>


<!-- MAIN -->
<div class="main">

<!-- NAVBAR -->
<nav class="navbar">
<button class="menu-btn" onclick="toggleSidebar()">☰</button>
<h2>All Events</h2>
</nav>


<!-- EVENTS -->
<div class="content">

<div class="events-grid">
{% for event in events %}

<div class="event-card">

<img src="{{ event.image_url }}" alt="{{ event.title }}">

<div class="event-body">
<h3>{{ event.title }}</h3>
<p>{{ event.description|truncatewords:15 }}</p>
<span>{{ event.date }}</span>
</div>

</div>

{% endfor %}
</div>

</div>

</div>
</div>


<script>

function toggleMenu(id){
const menu=document.getElementById(id);

if(menu.style.display==="block"){
menu.style.display="none";
}
else{
menu.style.display="block";
}

}

function toggleSidebar(){
document.getElementById("sidebar").classList.toggle("active");
}

</script>

</body>
</html>