{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Job Opportunities | Alumni Sync</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'view_jobs_alumni.css' %}">
</head>

<body>

<div class="container">

<!-- SIDEBAR -->
<aside class="sidebar" id="sidebar">

<div class="profile-box">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF5-3YjBcXTqKUlOAeUUtuOLKgQSma2wGG1g&s">
<p>{{ request.user.username }}</p>
</div>

{% comment %} <h2 class="logo">Alumni Sync</h2> {% endcomment %}
<a href="{% url 'alumni_dashboard' %}">Dashboard</a>

<!-- EVENTS MENU -->
<div class="menu-group">
<div class="menu-title" onclick="toggleMenu('events-menu')">
Events ▾
</div>

<div class="submenu" id="events-menu">
<a href="{% url 'create_event' %}">Events</a>
</div>
</div>

<!-- JOBS MENU -->
<div class="menu-group">
<div class="menu-title" onclick="toggleMenu('jobs-menu')">
Jobs ▾
</div>

<div class="submenu" id="jobs-menu">
<a href="{% url 'jobs_alumni' %}">Jobs</a>
</div>
</div>

<a href="{% url 'alumni_announcements' %}">Announcements</a>
<a href="{% url 'logout' %}">Logout</a>

</aside>


<!-- MAIN -->
<div class="main">

<!-- NAVBAR -->
<nav class="navbar">
<button class="menu-btn" onclick="toggleSidebar()">☰</button>
<h2>Job Opportunities</h2>
</nav>


<!-- CONTENT -->
<div class="content">

<div class="jobs-grid">

{% for job in jobs %}

<div class="job-card">

<img src="{{ job.get_image_url }}" class="job-img">

<h3>{{ job.title }}</h3>

<p class="company">{{ job.company }}</p>

<p class="description">{{ job.description }}</p>

<p class="date">Posted on: {{ job.posted_on }}</p>

</div>

{% endfor %}

</div>

</div>

</div>
</div>


<script>

function toggleSidebar(){
document.getElementById("sidebar").classList.toggle("active");
}

function toggleMenu(id){
const menu=document.getElementById(id);

if(menu.style.display==="block"){
menu.style.display="none";
}else{
menu.style.display="block";
}
}

</script>

</body>
</html>